<div class="container">
  <section id="type-list">
    <div class="row">
      <div class="span12">
        <div class="page-header"><h1>Engines&nbsp;<small><a href="#">Metric</a> / <a href="#">Imperial</a></small></h1></div>
	    <% @entities.each do |entity| -%>
            <div class="component-type">
              <div class="component-image">
                <ul class="media-grid"><li><a href="<%= engine_path(entity) %>"><img class="thumbnail" alt="" src="/images/<%= h(entity.image) %>"></a></li></ul>
              </div>
              <div class="component-details">
                <h4><a href=<%= engine_path(entity) %>><%= h(entity.title || entity.name) %></a></h4>
                <p><%= h(entity.description) %></p>
                <p>Thrust (Vac.): <%= entity.vac_thrust_n ? h(entity.vac_thrust_n / 1000) + 'kN' : '-' %> | Thrust (SL): <%= entity.sl_thrust_n ? h(entity.sl_thrust_n / 1000) + 'kN' : '-' %></p>
                <p>Developed by: <%= entity.organization ? entity.organization.name : '?' %></p>
              </div>
            </div>
	    <% end -%>
            
            <div class="pagination">
            <ul>
            <li class="prev disabled"><a href="#">&larr; Previous</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li class="next"><a href="#">Next &rarr;</a></li>
            </ul>
          </div>
            
          </div>
          <div class="span4">
            <div class="well">
              <h3>Stats</h3>
              <p><strong><%= Engine.count %></strong> rocket engines</p>
              <p>Avg vac thrust: <strong>1.86 MN</strong></p>
              <p>Min vac thrust: <strong>0.45 MN</strong></p>
              <p>Max vac thrust: <strong>3.82 MN</strong></p>
              
              <h3>Sort By</h3>
              <ul class="sort-list">
		<% Engine.sort_fields.keys.sort.each do |field| -%>
	        <li class=<%= params[:sort] == field ? 'sort-' + ('asc' == params[:order] ? 'asc' : 'desc') : '' %>>
		  <%= link_to Engine.sort_fields[field], engines_url(:sort => field, :order => (params[:order] == 'desc' ? 'asc' : 'desc')) %>
		</li>
		<% end -%>
              </ul>
            </div>
          </div>
    </div>
  </section>

</div>
