<div class="container">
  <section id="type-list">
    <div class="row">
      <div class="span12">
        <div class="page-header"><h1><%= entity_title %>&nbsp;<small><a href="#">Metric</a> / <a href="#">Imperial</a></small></h1></div>
	    <% @entities.each do |entity| -%>
            <div class="component-type">
              <div class="component-image">
                <ul class="media-grid"><li><a href="<%= engine_path(entity) %>"><img class="thumbnail" alt="" src="./media/engine-ssme.jpg"></a></li></ul>
              </div>
              <div class="component-details">
                <h4><a href=<%= engine_path(entity) %>><%= h(entity.name) %></a></h4>
                <p><%= h(entity.description) %></p>
		<%= render :partial => "#{entity_type.pluralize}/index_metadata", :locals => {:entity => entity} %>
              </div>
            </div>
	    <% end -%>
            
            <div class="pagination">
            <ul>
            <li class="prev disabled"><a href="#">&larr; Previous</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li class="next"><a href="#">Next &rarr;</a></li>
            </ul>
          </div>
            
          </div>
          <div class="span4">
            <div class="well">
              <h3>Stats</h3>
              <p><strong><%= entity_class.count %></strong> <%= entity_name.pluralize %></p>
              <%= render :partial => "#{entity_type.pluralize}/index_stats" %>
              <h3>Sort By</h3>
              <ul class="sort-list">
		<% entity_class.sort_fields.keys.sort.each do |field| -%>
	        <li class=<%= params[:sort] == field ? 'sort-' + ('asc' == params[:order] ? 'asc' : 'desc') : '' %>>
		  <%= link_to entity_class.sort_fields[field], engines_url(:sort => field, :order => (params[:order] == 'desc' ? 'asc' : 'desc')) %>
		</li>
		<% end -%>
              </ul>
            </div>
          </div>
    </div>
  </section>

</div>
